* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.top,
.consept-wrapper,
.lookbook,
.contact{
    width: 100%;
    margin: 0 auto;
    border:white 1px solid;
}

a{
    text-decoration-line: none;
}

/*---------------------------------------
top-movie
-----------------------------------------*/
.top-movie {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

video {
    transform: scale(2.5);
    width: 100%;
    height: 100%;
}

/*------------------------------------------
top
-------------------------------------------*/
.none-A {
    width: 100%;
    height: 150vh;
}

.none-B {
    width: 100%;
    height: 100vh;
}

.top {
    height: 100vh;
    position: relative;
}

.top-contents {
    padding: 400px 0;
    color: white;
    text-align: center;
    text-shadow: 0 4px 8px black;
}

.top-contents .p1 {
    font-family: "Allura", cursive;
    font-size: 70px;

    opacity: 0;
    transform: scale(0.85);
    transition: opacity 1.5s ease, transform 1.5s ease;
    transition-delay: 0s;
}

.top-contents .p2 {
    font-family: "Noto Serif JP", serif;
    font-size: 25px;
    margin-top: 50px;

    opacity: 0;
    transform: scale(0.85);
    transition: opacity 2s ease, transform 2s ease;
    transition-delay: 1s;
}

.top-contents .p1.active,
.top-contents .p2.active {
    opacity: 1;
    transform: scale(1);
}

/*--------------------------------
menu
----------------------------------*/

.menu-icon {
    width: 40px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 30px;
    right: 10%;

    opacity: 0;
    transform: scale(0.85);
    transition: opacity 1s ease, transform 1s ease;
}

.menu-icon span {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: 0.9s ease;
}

.menu-icon span:nth-child(1) {
    top: 0;
}

.menu-icon span:nth-child(2) {
    top: 10px;
}

.menu-icon span:nth-child(3) {
    top: 20px;
}

.menu-icon.fixed {
    position: fixed;
    top: 60px;
    right: 10%;
    width: 40px;
    height: 130px;

    opacity: 1;
    z-index: 10;
}

.menu-icon.active span:nth-child(1){
    transform: rotate(135deg);
    top:15px;
    background: white;
}
.menu-icon.active span:nth-child(2),
.menu-icon.active span:nth-child(3){
    transform: rotate(-135deg);
    top:15px;
    background: white;
}

.menu{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
}
.menu-animation{
    background-color: rgb(97, 97, 97);
    width: 275px;
    height:100%;

    transform: translateX(-100%);
    transition: 0.6s ease;
}
.menu.active{
    visibility: visible;
    pointer-events: auto;
}

.menu.active .menu-animation {
  transform: translateX(0);
}

.menu ul{
    text-align: center;
    padding-top:150px;
}
.menu li{
    padding-bottom:40px;
}
.menu a{
   color:rgb(197, 197, 197); 
   font-size: 20px;
   font-family: "Noto Serif JP", serif;
}

/*-------------------------------------
consept
---------------------------------------*/

.title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    font-family: "Prata", serif;
    opacity: 0.8;
}

.title p {
    display: inline-block;
    padding: 25px 40px;
    background-color: white;
    position: relative;
}

.title p::after {
    position: absolute;
    content: "";
    width: 250px;
    height: 100px;
    top: 10px;
    right: -10px;
    background-color: #525252;
    z-index: -1;
}

.brand-story-wrapper,
.Material-wrapper {
    margin: 400px 0 100px 0;

    opacity: 0;
    transform: scale(0.9);
    transition: opacity 2s ease, transform 1.5s ease;
}

.brand-story-wrapper.active,
.Material-wrapper.active {
    opacity: 1;
    transform: scale(1);
}

.brand-story,
.Material {
    max-width: 600px;
    height: 310px;
    margin: 0 auto;
    background-color: white;
    opacity: 0.9;
    color: #333;
}

.consept-title {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    position: relative;
    font-family: "Prata", serif;
}

.consept-title::before,
.consept-title::after {
    position: absolute;
    content: "";
    top: 50%;
    width: 50px;
    height: 1.5px;
    background-color: #333;
}

.consept-title::before {
    left: 100px;
}

.consept-title::after {
    right: 100px;
}

.BS-content,
.M-content {
    display: flex;
    align-items: center;
}

.M-content {
    gap: 40px;
}

.BS-content img,
.M-content img {
    width: 250px;
    height: auto;
}

.BS-content .left {
    padding-left: 30px;
}

.M-content .right {
    padding-right: 30px;
}

.BS-content p,
.M-content p {
    font-size: 14px;
    padding-bottom: 10px;
}

/*--------------------------------------
lookbook
----------------------------------------*/

.lookbook {
    background: linear-gradient(to bottom, transparent, black);
    padding-top:300px;
}

.lookbook-wrapper img {
    width: 200px;
    height: 350px;
    object-position: center;
    object-fit: cover;
    box-shadow:
        1px 0px 12px rgb(125, 125, 125),
        -1px 0px 12px rgb(125, 125, 125);
}

.imgs-A,
.imgs-B,
.imgs-C {
    padding: 450px 0 200px 0;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.img-left {
    margin-top: -150px;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1s, transform 0.8s;
}

.img-right {
    margin-bottom: -150px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s, transform 0.8s;
}

.img-left.active,
.img-right.active {
    opacity: 1;
    transform: translateY(0);
}

/*------------------------------
contact
-------------------------------*/
.contact,
.footer{
    background: black;
}

.link-btns{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:100px;
    margin-top:400px;
}
.contact a{
    color:white;
    font-size: 18px;
    font-family: "Noto Serif JP", serif;
    padding:20px 100px;
    border:0.5px solid rgb(203, 202, 202);
    position: relative;

    transform: scale(0.9);
    opacity:0;
    transition: opacity 0.8s,transform 0.8s;
}
.contact a.active{
    opacity:1;
    transform: scale(1);
}
.contact a::before,
.contact a::after{
    content: "";
    position: absolute;
    right:-40px;
    height:1px;
    background-color: #fff;
    transition: 0.5s ease;
}
.contact a::before{
    width:120px;
    top:48px;
}
.contact a::after{
    width:15px;
    top:45px;
    transform: rotate(25deg);
}
.contact a:hover{
    background-color: white;
    color:black;
    transition: 0.7s ease;
}
.contact a:hover::before,
.contact a:hover::after{
    right: -30%;
}

.SNS{
    padding:300px 0 ;
}
.SNS p{
    color:white;
    font-family: "Noto Serif JP", serif;
}
.SNS-content{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    padding-bottom:100px;
}
.SNS img{
    width:60px;
    height: auto;
}
.SNS-content.left{
    transform: translateX(20%);
    opacity:0;
    transition: opacity 0.8s,transform 0.8s;
}
.SNS-content.right{
    transform: translateX(-20%);
    opacity:0;
    transition: opacity 0.8s,transform 0.8s;
}
.SNS-content.left.active,
.SNS-content.right.active{
    opacity: 1;
    transform: translateX(0);
}
/*------------------------------
footer
-------------------------------*/
.footer{
    color:white;
    border-top:white solid 1px;
}
.footer-contents{
    text-align: center;
    font-family: "Noto Serif JP", serif;
}
.f-contents-top{
    font-size: 13px;
    margin:250px 0 80px 0;
}
.f-contents-bottom{
    font-size:10px;
    padding-bottom: 10px;
}
